<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css">
  <link rel="icon" href="{{ SITEURL }}/favicon.svg" type="image/svg+xml">
</head>
<body>
  <header>
    <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
    <nav>
      <a href="{{ SITEURL }}/">[ >_ HOME ]</a> |
      <a href="{{ SITEURL }}/category/writeups/">[ WRITEUPS ]</a> |
      <a href="{{ SITEURL }}/category/experimentos/">[ EXPERIMENTOS ]</a> |
      <a href="{{ SITEURL }}/sobre/">[ SOBRE ]</a> |
      <a href="https://github.com/lovepxdro/sec-lounge" target="_blank">[ REPOSITÓRIO ]</a>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <div class="prompt">[sec-lounge@term:~]$</div>
    <div class="links">
      <a href="{{ SITEURL }}/sobre/">CONTATO</a> | <a href="https://github.com/lovepxdro" target="_blank">GITHUB</a>
    </div>
    <div class="signature">// [sec-lounge] - 2026 //</div>
  </footer>
</body>
</html>
