{% extends "base.html" %}

{% block content %}
  <div class="section-title">> ÚLTIMOS REGISTROS <</div>
  
  {% for article in articles %}
    <article class="card">
      <h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
      <div class="meta">
        {{ article.locale_date }} | <span>#{{ article.category }}</span>
      </div>
      <div class="summary">
        {{ article.summary | striptags | truncate(150) }}
      </div>
    </article>
  {% endfor %}
{% endblock %}
